<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome TO School</h1>
    <div>
        <ul>
            {% for dept in depts %}
            <h3>{{dept.name}}</h3>
            {% for student in dept.student_set.all %}
            <li>
                {{student.name}} | {{student.phone}}
            </li>
            {% endfor %}

            {% endfor %}
        </ul>
    </div>
</body>

</html>

</html>