{% extends 'base.html' %}
{% block content %}
<div>
    {% if page == 'login' %}
    <!-- Login Form -->
    <div>
        <h1>Login</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username</label>
            <!-- <input type="email" name="email" id="email"> -->
            <input type="username" name="username" id="username">
            <br>
            <label for="">Password</label>
            <input type="password" name="password" id="password">
            <br>
            <button type="submit">Login</button>
            <a href="{% url 'register' %}">Sign up</a>
            <br>
        </form>
    </div>
{% else %}
    <!-- Register Form -->
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Signup</button>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}